* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  background: rgb(232, 232, 240);
}
i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}
.kick-pad {
  background: rgb(123, 123, 221);
}
.kick-pad.active {
  background: rgb(68, 68, 200);
}
.snare-pad {
  background: rgb(211, 117, 211);
}
.snare-pad.active {
  background: rgb(189, 62, 189);
}
.hihat-pad {
  background: rgb(230, 178, 83);
}
.hihat-pad.active {
  background: rgb(195, 134, 21);
}
.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
  margin-top: 5rem;
}
.kick,
.snare,
.hihat {
  display: flex;
}
.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1; /*this stretches them out*/
  margin: 0rem 2rem;
}
.controls button {
  padding: 1rem;
  border: none;
  background: rgb(51, 51, 51);
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 2rem;
}
.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background: rgb(51, 51, 51);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 3rem;
}

select {
  padding: 1rem;
  font-size: 1.2rem;
  width: 17rem;
}

.mute.active {
  background: rgb(121, 115, 115);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(51, 51, 51);
  cursor: pointer;
  border-radius: 2rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
